<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- None, Db, Resource -->
		<add key="ProcedureStorageLocationType" value="Db"/>
    <add key="NotificationConnectionString" value="Data Source=ISMIR-HP;Initial Catalog=Kursangebote;Integrated Security=SSPI;Persist Security Info=False;Trusted_Connection=Yes;Connect Timeout=20;" />
    <add key="DBConnectionString" value="Data Source=ISMIR-HP;Initial Catalog=Kursangebote;Integrated Security=SSPI;Persist Security Info=False;Trusted_Connection=Yes;Connect Timeout=20;"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows"/>
	</system.web>

<system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>